﻿/* ----------------------------- Geral -----------------------------*/
html, body {
    margin: 0;
    padding: 0;
    background-color: white !important;
    color: #66acec;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

    a:hover {
        text-decoration: none !important;
    }

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

    h2.inactive {
        color: #cccccc;
    }

    h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #5fbae9;
    }

.card {
    box-shadow: 5px 5px 5px darkgrey;
    margin-top: 20px;
    color: #66acec;
}

    .card #ContentPlaceHolder1_lblCardHead {
        font-size: 24px;
    }

.btn-primary {
    border-color: #66acec !important;
    background-color: #66acec !important;
    padding: 7px 35px !important;
}

    .btn-primary:hover {
        border-color: #4b7ead !important;
        background-color: #4b7ead !important;
        padding: 7px 35px !important;
    }

#ContentPlaceHolder1_btnAdicionar {
    float: right;
}

/* ----------------------------- Welcome -----------------------------*/
.content {
    background-color: white;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-img {
    width: 700px;
    height: max-content;
}
/* ----------------------------- Dashboard -----------------------------*/
.bg-light {
    background-color: white !important;
}

.list-group-item {
    background-color: white !important;
}

.btn-light {
    background-color: white !important;
    border-color: white !important;
}

#bell {
    margin-left: 5px;
}

/*#formDashboard {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
}

#navPrincipal {
    background-color: white;
    height: 70px;
    border: transparent solid 2px;
    border-bottom-color: #00AEEF;
}

.liLogoNav{
    position: absolute;
    margin-top: 10px;
    margin-left: 45%;
}

.liLogoNav img{
    width: 150px;
    height: 50px;
    margin-top: -5px;
}

.navbar ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index:0;
}

.navbar li {
    float: right;
}

.navbar li:last-child {
    border-right: none;
}

.liLogout{
    margin-top: 10px;
}

#Logout {
    padding: 5px 20px 10px 20px;
    background-color: white;
    border-color: white;
    box-shadow: none;
    color: #00AEEF;
    font-size: 26px;
    text-decoration: none;
}

#menuToggle {
    width: 5%;
    display: block;
    position: relative;
    margin-top: -35px;
    margin-left: 20px;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
  
    cursor: pointer;
  
    opacity: 0;
    z-index: 2;
  
    -webkit-touch-callout: none;
}

#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background: #00AEEF;
    border-radius: 3px;
  
    z-index: 1;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #00AEEF;
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#menu{
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 2;
    margin: 9px 0px 0px -62px;
  
    background-color: #00AEEF;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
}

#menu #liUtilizador{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menuToggle input:checked ~ ul{
    transform: none;
}*/
/*-------------- Home ------------------*/
.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    padding: 10%;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ContentPlaceHolder1_Button1 {
    background-image: url(24x24/excel.png);
    background-repeat: no-repeat;
    background-position-x: 22px;
    background-position-y: 7px;
}

/* ----------------------------- Recursos -----------------------------*/
#example {
    color: black;
}

#ContentPlaceHolder1_rb {
    color: black;
    float: right;
    margin-top: 5px;
    font-size: 20px;
}

#ContentPlaceHolder1_reset {
    background-color: white !important;
    border-color: transparent !important;
    background-image: url(quit.png);
    height: 35px;
    width: 35px;
    margin-top: 2px;
    margin-right: 5px;
}

#ContentPlaceHolder1_ddlCat {
    float: left;
    margin-right: 10px;
    width: 200px;
    height: calc(1.5em + .75rem + 2px + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#ContentPlaceHolder1_ddlEstado {
    width: 200px;
    margin-right: 16px;
    float: left;
}

#ContentPlaceHolder1_ddlCliente {
    width: 200px;
    margin-right: 16px;
    float: left;
}

#ContentPlaceHolder1_ddlFormador {
    width: 210px;
    margin-right: 16px;
    float: left;
}

/* ----------------------------- Formações -----------------------------*/
#card-calandar {
    color: black;
    margin-top: -78px;
    width: 1000px;
    border: 5px solid white;
    border-top-color: #00AEEF;
}

#calendar {
    margin-top: 10px;
    width: 950px;
}

.fc-event {
    border-color: #00AEEF !important;
}

.fc-content {
    color: white;
    background-color: #00AEEF;
}

.fc-event-container {
    background-color: #00AEEF;
}

.fc-button-primary {
    border-color: #00AEEF !important;
    background-color: #00AEEF !important;
}

.fc-button-active {
    border-color: #007EAD !important;
    background-color: #007EAD !important;
}

#ContentPlaceHolder1_btnDownload {
    background-image: url(24x24/excel.png);
    background-repeat: no-repeat;
    background-position-x: 22px;
    background-position-y: 7px;
    margin-right: 16px;
}

/* ----------------------------- Satistics -----------------------------*/
.canvasjs-chart-credit {
    background-color: white !important;
    color: white !important;
    margin-right: 400px !important;
    left: 0px !important;
}

/* ----------------------------- Buttons Img -----------------------------*/
.btnedit {
    background-image: url('/Recursos/24x24/edit.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.btndetails {
    background-image: url('/Recursos/24x24/details.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.btndelete {
    background-image: url('/Recursos/24x24/trash.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.btnadd {
    background-image: url('/Recursos/24x24/add.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.btnminus {
    background-image: url('/Recursos/24x24/minus.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.btncancel {
    background-image: url('/Recursos/24x24/cancel.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.btncheck {
    background-image: url('/Recursos/24x24/check.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 35px !important;
    padding-right: 35px !important;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 15px solid #48545F;
    border-top: 15px solid #00AEEF;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.calendary {
    width: 100%;
}

.title {
    font-weight: 400;
    font-size: 20px;
    margin-top: 16px;
}
/* #region Course Grid*/
.courseGrid {
    display: grid;
    grid-template-columns: repeat(60,1fr);
    grid-template-rows: repeat(60,1rem);
}

.gridcard {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 6px 6px 5px 1px rgba(156,156,156,1);
}

.title-grid-item {
    grid-column-start: 2;
    grid-column-end: 60;
    grid-row-start: 2;
    grid-row-end: 6;
}

.subtitleCourseData-grid-item {
    grid-column-start: 2;
    grid-column-end: 21;
    grid-row-start: 7;
    grid-row-end: 11;
}

.subtitleDayData-grid-item {
    grid-column-start: 22;
    grid-column-end: 41;
    grid-row-start: 7;
    grid-row-end: 11;
}

.subtitleDays-grid-item {
    grid-column-start: 42;
    grid-column-end: 59;
    grid-row-start: 7;
    grid-row-end: 11;
}

.courseData-grid-item {
    grid-column-start: 2;
    grid-column-end: 21;
    grid-row-start: 12;
    grid-row-end: 43;
    background-color: #fff;
}

.courseDaydata-grid-item {
    grid-column-start: 22;
    grid-column-end: 41;
    grid-row-start: 12;
    grid-row-end: 43;
}

.courseDays-grid-item {
    grid-column-start: 42;
    grid-column-end: 59;
    grid-row-start: 12;
    grid-row-end: 43;
}

.submitCancel-grid-item {
    grid-column: 43 / 60;
    grid-row: 44/46;
}
/* #endregion*/
/* ----------------------------- TryOut -----------------------------*/





